div.notelist {
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

div.noteform {
    display: flex;
    flex-direction: column;
    width: 100%;
}