div.notelist {
    overflow-y: auto;
    max-height: 100vw;
}

ul.title {
display: flex;
flex-direction: column-reverse;
}

div.noteform {
    display: flex;
    flex-direction: column;
    width: 100%;
}