nav {
    align-items: flex-end;
}

header.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.flex-row.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}