:root {
  --primary: #0d6efd;
  --secondary: #f2b558;
  --tertiary: #4f1602;
  --light: #fff4de;
  --dark: #2d0d00;
  --darker: #1d0800;
  --darkest: #110400;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--light);
  background-color: var(--darkest);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  color: var(--light);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: .9rem;
  margin-top: 0;
}

a {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary);
}

a:hover {
  text-decoration: none;}

header {
  background: var(--darkest);
}

header h1 {
  font-size: 6rem;
  display: block;
}

header a {
  color: var(--light);
}

header a:hover {
  text-decoration: none;
}

button {
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: .1rem;
  color: var(--dark);
  text-decoration: none;
  padding: .5rem .75rem;
  border-radius: .25rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--primary);
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  opacity: .9;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 100%;
}

.form-select {
  font-size: .9rem;
}

.form-control {
  font-size: .9rem;
}

.form-label {
  font-size: .9rem;
  margin-bottom: .2rem;
  margin-top: .5rem;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.nav {
  padding-bottom: 1rem;
}

.card {
  width: 33%;
  text-align: left;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--tertiary);
}

.noteform {
  width: 100%;
  text-align: left;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--tertiary);
  margin: 1rem 0 0 1rem;
  border-radius: .25rem;
}

.note {
  width: 100%;
  text-align: left;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--tertiary);
  margin: 0 0 1rem 1rem;
  border-radius: .25rem;
}

.joingroup {
  width: 65%;
  text-align: left;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--tertiary);
  margin-left: 1rem;
  border-radius: .25rem;
}

.groupcard {
  width: 100%;
  text-align: left;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--tertiary);
  margin: 0 1rem 1rem 0;
  border-radius: .25rem;
}

.enterbutton {
  background-color: var(--darker);
  color: var(--light);
}

.enterbutton:hover {
  background-color: var(--light);
  color: var(--darkest);
}

.gamecard {
  width: 100%;
  text-align: left;
  background-color: var(--darkest);
  color: var(--light);
  border: 1px solid var(--tertiary);
  border-radius: .25rem;
}

.error-text {
  color: var(--error);
}

.alert {
  position: relative;
  padding: .5rem 1rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.list-group-item {
  background-color: var(--dark);
  color: var(--light);
  font-size: .9rem;
  border: 1px solid var(--tertiary);

}

.list-group-item:hover {
  background-color: var(--darkest);
}

.logo {
  width: 100px;
  margin: 0 auto;
  padding: 1rem 0;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100%;
    text-align: center;
  }

  .card {
    width: 100%;
  }

  .noteform {
    width: 100%;
  }

  .note {
    width: 100%;
    margin: 0;
  }
}
